@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Color Palette: https://coolors.co/1c3144-d00000-ffba08-a2aebb-3f88c5 */


/* Variable Setting */

:root {
	--color-primary: #FFBA08;
	--color-secondary: #1C3144;
	--color-text-inverse: #FFFFFF;
}

@keyframes shift-y {
	0% {transform: translateY(0%)}
	25% {transform: translateY(-5%)}
	50% {transform: translateY(0%)}
	75% {transform: translateY(5%)}
	100% {transform: translateY(0%)}
}

.shift-y {
	animation: shift-y 5s linear 0s infinite;
}

/* General */
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

p {
	font-size: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

body {
	color: var(--color-secondary);
	font-family: Roboto, sans-serif;
	font-size: 18px;
}

/* Common Component */

.main-button {
	/* box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
	background-color: var(--color-primary);
	color: var(--color-text-inverse);
	border: none;
	font-size: 25px;
	padding: 10px 20px;
	border-radius: 10px;
	transition: all 0.2s ease-in;
}

.main-button:hover {
	background-color: var(--color-text-inverse);
	color: var(--color-primary);
	/* border: 1px solid #FFBA08; */
	box-shadow: 0 0 0 1px var(--color-primary);
}

.main-button:focus {
	background-color: var(--color-text-inverse);
	color: var(--color-primary);
	/* border: 1px solid #FFBA08; */
	box-shadow: 0 0 3px 3px var(--color-primary);
}

/* Navbar */

.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.cust-navbar {
	width: 100%;
	z-index: 5;
	/* position: fixed; */
}

.cust-navbar .cust-navbar-main {
	/* display: flex; */
	background-color: var(--color-secondary);
	width: 100%;
	align-items: center;
	height: 65px;
	padding: 14px 0;
	z-index: 5;
	/* justify-content: space-between; */
}

.cust-navbar .logo {
	color: var(--color-text-inverse);
	margin: 0 15px 0 0;
	font-size: 30px;
	font-weight: 700;
	font-family: Roboto;
}

.cust-navbar .logo .logo-highlight {
	color: var(--color-primary);
}

.cust-navbar .menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 30px;
}

.cust-navbar .menu li {
	font-size: 20px;
	margin-left: 30px;
	list-style: none;
	display: inline-block
}

.cust-navbar .menu li a {
	color: var(--color-text-inverse);
	font-weight: 700;
	transition: all 0.1s ease-in;
}

.cust-navbar .menu li a:hover {
	color: var(--color-primary);
}

.cust-navbar .menu li a.active, .cust-navbar .menu li a.active:hover {
	color: var(--color-primary);
	border-bottom: 1px solid var(--color-primary);
	/* font-weight: 700; */
}

.cust-navbar .cust-navbar-icon {
	display: none;
	margin-left: auto;
	color: var(--color-text-inverse);
}

.menu.side-menu {
	display: none;
}

.menu .side-menu-bottom {
	display: none;
}

.cust-navbar.cust-navbar-sticky {
	position: fixed;
}

/* Jumbotron */

.home {
	margin: 0;
	height: 900px;
	padding: 300px 0;
	display: flex;
	/* background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/ProfilePicture2.jpeg'); */
	background: url("../assets/ProfilePicture.jpg"), #656C74;
	background-position: 90% 10%;
	/* background-size: 40%; */
	background-size: 900px 1100px;	
	background-repeat: no-repeat;
	/* background-size: cover; */
}

.home h1 {
	font-size: 100px;
	font-weight: 400;
	color: var(--color-secondary);
}

.highlight {
	color: var(--color-primary);
}
/* 
.home hr {
	border-top: 4px solid var(--color-secondary);
} */

.home p {
	font-size: 30px;
	font-weight: 400;
	color: var(--color-secondary);
}

.home span {
	padding: 0;
	margin: 0;
}
/* 
.headline:hover {
	color: var(--color-primary);
} */

.heading {
	padding: 40px 0;
	color: var(--color-secondary);
	/* background-image: url(../assets/title-bg.png);
	background-repeat: no-repeat;
	background-size: contain; */
	/* background-color: #1C3144; */
}

/* About Section */

.about {
	padding: 20px 0;
	margin: 100px 0;
	/* background-color: #FFBA08; */
	scroll-margin-top: 100px;
}

/* .about .about-particles {
	position: relative;
} */

/* .about .about-bg-one {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 100px;
	right: 10%;
	z-index: -1
} */

/* .title-bg {
	position: absolute;
	top: 20px;
	z-index: -1;
} */

.aboutImage {
	height: 90%;
	width: 90%;
	object-fit: scale-down;
}

.about .about-role-change {
	font-weight: 700;
}

.about p {
	/* font-size: 25px; */
	padding: 20px 0;
}

.about .tile {
	text-align: center;
	padding: 10px 10px;
	height: 120px;
	color: var(--color-text-inverse);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
	/* border: 2px solid var(--color-primary); */
	background-color: var(--color-secondary);
	border-radius: 10px;
	margin: 15px 10px;
	transition: all 0.5s ease-in;
	position: relative;
	cursor: pointer;
}

.about .tile .tile-wrapper {
	z-index: 2;
}

.about .tile .tile-title {
	font-size: 20px;
	/* font-weight: 700; */
}

.about .tile .tile-content {
	font-size: 40px;
	padding: 10px 0 5px 0;
	/* color: var(--color-primary); */
	font-weight: 700;
}

.about .tile .tile-description {
	display: none;
	font-size: 20px;
	transition: all 0.5s ease-in;
}

.about .tile::before {
	display: inline-block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 0%;
	width: 100%;
	background-color: var(--color-primary);
	visibility: hidden;
	transition: all 0.5s ease-in;
	border-radius: 10px;
	z-index: auto;
}

.about .tile:hover::before {
	height: 100%;
	visibility: visible;
}


.about .tile::after {
	display: inline-block;
	padding-top: auto;
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--color-secondary);
	visibility: hidden;
	transition: height 0.5s ease-in;
	border-radius: 10px;
	z-index: 3;
}

.about .tile:hover::after {
	height: 0%;
	visibility: visible;
}

.about .tile:hover .tile-title, .about .tile:hover .tile-content {
	display: none;
}

.about .tile:hover .tile-description {
	display: block;
}

.about .resume-button {
	margin: 25px;
}

/* Work Experience Section */

.workExp {
	padding: 20px 0;
	margin: 100px 0;
	scroll-margin-top: 100px;
}
/* 
.workExp .hide-overflow {
	overflow: hidden;
} */

.workExpDetail {
	padding: 20px 0;
	margin: 70px 0;
}

.workExpImage {
	height: 300px;
	width: 500px;
	object-fit: scale-down;
}

.workExpDetail .companyName {
	padding: 20px 0;
}

.workExpDetail .title {
	font-weight: 700;
	padding: 10px 0;
}

.workExpDetail .duration {
	padding: 5px 0;
}

.workExpDetail .workExpTechList {
	font-size: 15px;
	line-height: 35px;
}

.workExpDetail .workExpTechList .workExpTech {
	white-space: nowrap;
	border-radius: 20px;
	padding: 5px 10px;
	/* border: 1px solid var(--color-primary); */
	background-color: var(--color-secondary);
	color: var(--color-text-inverse);
	/* margin: 20px 10px; */
	transition: all 0.5s ease-in;
}

.workExpDetail .content {
	list-style: decimal inside;
}

.workExpDetail li {
	padding: 5px 0;
}

/* .skills .skillItem {
	display: flex;
	justify-content: center;
} */

/* Skills Section */

.skills {
	padding: 20px 0;
	margin: 100px 0;
	scroll-margin-top: 100px;
}

.skills .skillItem {
	height: 200px;
}

.skills .img-wrapper {
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
}

/* .skills .skillItem {
	transition: all 0.5s ease;
} */

.skills .skillIcon {
	height: 100%;
	width: 80%;
	object-fit: scale-down;
	transition: all 0.5s ease;
}

.skills .skillItem:hover .skillIcon {
	transform: scale(1.1);
}

.skills h2 {
	text-align: center;
	font-weight: 700;
	margin: 0 0 50px 0;
	/* font-size: 20px; */
}

/* Project Section */

.projects {
	padding: 20px 0;
	margin: 100px 0;
	scroll-margin-top: 100px;
}

.projects a {
	transition: all 0.5s ease;
}

.projects a:hover {
	color: var(--color-primary);
	/* text-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
}

.projects .img-wrapper {
	display: flex;
	justify-content: center;
}

.projects .projectThumbnail {
	height: 200px;
	width: 400px;
	object-fit: scale-down;
	margin: 0 0 20px 0;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.5s ease;
}

.projects a:hover .projectThumbnail {
	transform: scale(1.1);
}

.projects .projectTitle {
	text-align: center;
	padding: 10px 0;
}


/* .projects h2:hover {
	text-shadow: 3px 3px rgba(255, 186, 8, 1);
} */

.projects .projectDescription {
	text-align: center;
	margin: 0 0 50px 0;
}

.projects .projectTechList {
	text-align: center;
	/* margin: 5px 0 10px 0; */
	line-height: 40px;
}

.projects .projectTechList .projectTech {
	white-space: nowrap;
	border-radius: 20px;
	padding: 5px 10px;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	transition: all 0.5s ease-in;
}

.projects a:hover .projectTechList .projectTech {
	background-color: var(--color-primary);
	border: none;
	color: var(--color-text-inverse);
}

/* Message Section */

.message {
	padding: 20px 0;
	margin: 100px 0;
	scroll-margin-top: 100px;
}

.message .messageCard {
	width: 100%;
	box-shadow: 5px 5px 0px 10px rgba(0, 0, 0, 0.1);
	/* background-color: var(--color-secondary);
	color: var(--color-text-inverse); */
	border-radius: 10px;
	padding: 30px;
}

.messageDetail {
	resize: none;
}

.messageImage {
	height: 90%;
	width: 90%;
	object-fit: scale-down;
	transform: scaleX(-1);
}

.message .form-rule {
	color: var(--color-primary);
}

/* Footer Section */

footer {
	background-color: var(--color-secondary);
	padding: 20px 0;
}

footer h2, footer p, footer a {
	color: var(--color-text-inverse);
}

footer .footer-title {
	padding: 10px 0;
	font-weight: 700;
}

/* footer .footer-middle {
	display: flex;
	align-items: center;
	justify-content: center;
} */

/* 
.fa-linkedin, .fa-instagram, .fa-facebook-square, .fa-instagram-square, .fa-github-square, .fa-square-envelope, .fa-square-phone {
	color: #FFBA08;
} */

footer .footer-left a {
	height: 32px;
	transition: all 0.3s ease-in;
	padding: 20px 20px 20px 0;
}

footer .footer-left a:hover {
	color: var(--color-primary);
}

footer .footer-left i {
	vertical-align: middle;
	/* padding: 10px 20px; */
}


footer .footer-right a {
	height: 32px;
	transition: all 0.3s ease-in;
	padding: 20px 0 20px 20px;
}

footer .footer-right a:hover {
	color: var(--color-primary);
}

footer .footer-right i {
	vertical-align: middle;
	/* padding: 10px 20px; */
}

footer .footer-bottom .footer-copyright {
	padding: 20px 0 0 0;
	font-size: 15px;
}

/* footer .footer-right i {
	padding: 10px 20px;
} */


/* 
footer .footer-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .footer-navigation li {
	margin: 10px 50px;
	text-decoration: underline;
} */

/* 
.social-icon {
	height: 100px;
	width: 100px;
	object-fit: scale-down;
} */

/* .home .home-background {
	width: 50%;
	height: 100%;
	background-image: url('../assets/ProfilePicture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 50px 50px 50px black;
} */




